.chatlist::-webkit-scrollbar {
  width: 7px;
}
.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.chattextarea::-webkit-scrollbar {
  width: 5px;
}
.chattextarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.epr-body.epr_-l19tlc.epr_b8hfyo.epr_-mpla0i.epr_mw4zr1.epr_iogimd.epr_wtwvf4::-webkit-scrollbar {
  width: 7px;
}
.epr-body.epr_-l19tlc.epr_b8hfyo.epr_-mpla0i.epr_mw4zr1.epr_iogimd.epr_wtwvf4::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.chatcontainer::-webkit-scrollbar {
  width: 7px;
}
.chatcontainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
